*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}

body {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: PingFangSC-Regular;
    height: 100%;
    width: 100%;
    line-height: 1;
    position: relative;
}
.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.form-errorTip {
    position: absolute;
    font-size: 14px;
    color: #f00b41;
    letter-spacing: 0;
    text-align: justify;
    line-height: 16px;
    bottom: 133px;
}

.main{
    width: 600px;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    position: absolute;
    top: 50px;
    left: 10%;
}
.logo img{
    width: 246px;
}
.logo span{
    display: inline-block;
    position: absolute;
    height: 38px;
    line-height: 38px;
    top: 15px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    width: 150px;
}


.mainbody {
    width: 416px;
    max-height: 531px;
    min-height: 456px;
    position: relative;
    background: #ffffff;
    border-radius: 4px;
    margin: 20% auto 0;
}
.maincon {
    width: calc(100% - 76px);
    min-height: 300px;
    padding: 22px 38px;
}
.tabHead {
    width: 100%;
    z-index: 10;
    overflow: hidden;
    font-size: 12px;
    border-bottom: 1px solid #DEDEDE;
}

.tabHead span {
    display: block;
    width: 80px;
    float: left;
    position: relative;
    z-index: 2;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
    padding: 8px 0;
}
.tabHead span.active{
    border-bottom: 1px solid #2B6CDB;
}
.tabHead span a{
    color: #34363E;
    text-decoration: none;
}
.tabHead span.active a{
    color: #2B6CDB;
}

.container .login-pc {
    position: relative;
}
.container .help {
    position: relative;
    clear: both;
    margin-top: 12px;
    height: 26px;
}
.container .form {
    margin-top: 10px;
}
.form .m-account, .form .m-phone {
    border-radius: 5px;
    background: #fff;
}
.form .m-account .item, .form .m-phone .item {
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-radius: 4px;
    height: 48px;
    margin-top: 20px;
}
.form .m-account > div, .form .m-phone > div {
    position: relative;
    overflow: hidden;
}
.form .prex-icon {
    position: absolute;
    top: 4px;
    left: 2px;
}
.form .m-account > div > input, .form .m-phone > div > input {
    width: 70%;
    border: none;
    height: 48px;
    margin-left: 48px;
    outline: none;
}

.form .suffix-icon {
    position: absolute;
    top: 19px;
    cursor: pointer;
    width: 18px;
    height: 15px;
}
#rememberMe{
    margin-left: 0;
    height: auto;
}
.container .btn {
    margin-top: 30px;
}
.container .btn .login-btn {
    width: 100%;
    height: 50px;
    background: #2368de;
    border-radius: 4px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 12px;
}
.container .help .fo-password {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #73757E;
    float: left;
}
.container .help .activation-account {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #0c4af9;
    float: right;
}
.container .help .activation-account span{
    display: none;
}
.container .footer {
    width: calc(100% - 64px);
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 58px;
    background: #F3F8FE;
    border-radius: 0 0 6px 6px;
    display: flex;
    align-items: Center;
    padding: 0 32px;
}
.container .footer .ways{
    width: 60px;
    float: left;
}
.container .footer .ways img{
    width: 32px;
}
.banquan{
    width: 416px;
    margin: 20px auto 0;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
}
.form .captcha .captcha-img {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    text-align: center;
    width: 86px;
    height: 30px;
}
.form .code .get-code{
    text-decoration: none;
    background: none;
    color: #2B6CDB;
    padding: 6px 8px;
    margin-top: 6px;
    cursor: pointer;
    font-family: 'Microsoft YaHei';
    position: absolute;
    right: 5px;
    top: 5px;
}
.m-rememberMe{
    margin-top: 8px;
}
.adminLogin{
    position: absolute;
    top: 30px;
    right: 30px;
}
.adminLogin a{
    color: white;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
