*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
body {
    background: url(../images/bg.png) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: PingFangSC-Regular;
    height: 100%;
    width: 100%;
}

.container{
    width: 300px;
    margin: 50px auto;
}
.container h2{
    color: white;
    text-align: center;
}
.container .bt{
    width: 150px;
    height: 30px;
    margin: 50px auto;
    background-color: white;
    font-weight: 700;
}
.container .bt a{
    display: block;
    text-align: center;
    height: 30px;
    line-height: 30px;
}


